<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="" class="navbar-brand">SceneFolio</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="/explore">Explore</a>
        </li>
          <% if (authenticated) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
            <ul class="dropdown-menu bg-dark">
              <li><a class="dropdown-item" href="/users/watchlist/1">Watched list</a></li>
              <li><a class="dropdown-item" href="/users/wishlist/1">Wishlist</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/users/signout">Sign Out</a></li>
            </ul>
          </li>
          <% } else { %>
            <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
          <% } %>
      </ul>
    </div>
  </div>
</nav>