<nav class="navbar navbar-expand-lg bg-dark text-light">
  <div class="container-fluid text-light">
    <a href="" class="navbar-brand text-light">MovieApp</a>
    <div class="collapse navbar-collapse text-light">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" href="">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="">Wishlist</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu bg-dark">
            <li><a class="dropdown-item text-light" href="#">Action</a></li>
            <li><a class="dropdown-item text-light" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>