<button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
  </svg>Watched list</button>
<div class="modal fade text-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= `So you've watched ${movie.title}` %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/explore/watch-add" method="POST">
          <input type="hidden" name="mID" value=<%= movie.id%>>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Your rating:</span>
            <input type="number" class="form-control" name="rating" aria-describedby="basic-addon1" style="max-width: 20%;" min="0" max="10">
            <span class="input-group-text">/ 10</span>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Want to note any thoughts about the movie? Favourite parts?</label>
            <textarea class="form-control" name="comment" id="message-text"></textarea>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add to watched list</button>
      </div>
    </form>
    </div>
  </div>
</div>