<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="container">
  
  <div class=" row mt-3">
    <%- include('partials/flash') %>
    <h1>Login</h1></div>
  <form action="" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" type="text" name="username" id="username" required>
      <div class="invalid-feedback">
        Please enter a username.
      </div>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" type="password" name="password" id="password" required>
      <div class="invalid-feedback">
        Please enter a password.
      </div>
    </div>

    <button class="btn btn-success">Login</button>
  </form>
  <div class="form-text">
    <p>Don't have an account? <a href="/users/signup">Click here to create one.</a></p>
  </div>
</div>


<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<%- include('partials/foot') %>
